 @import "https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css";
.body{
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 1500px;
    text-align: center;
    width: 1250px;
    
    padding-top: 200px;
    background-image: url(pict.jpg);
    background-repeat: no-repeat;
    background-size:1250px 700px;
    color: white;
    
}

,textbox1{
    border-left: 3px solid;
    padding: 5px 0px;
    border-bottom: 1px solid green;
}

,textbox2{
    border-left: 3px solid;
    padding: 5px 0px;
    border-bottom: 1px solid green;
}

.btn{
   background: none;
  
   
   

}
.textbox1 input{
    border: none;
    outline: none;
    background: none;
    color: white;
    
}

.textbox2 input{
    border: none;
    outline: none;
    background: none;
    color: white;
}